{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('style/stylingLandingPageAndNavbar.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('style/stylingHomePage.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
{% block body %}
    <div class="flex flex-col items-center justify-center mt-24 mb-16">
        <div class="text-4xl">
            <h1>Suche nach <span id="animated-text" class="typewriter"></span></h1>
        </div>
        <div class="mt-6">
            <div class="p-2 flex justify-between items-center borderBox">
                <form class="flex items-center" role="search" action="{{ path('home.search') }}">
                    <input type="image" class="w-10 h-10 " src="/images/search.png" alt="Input Button">
                    <input placeholder="{{ searchInput }}" type="search" class="text-xl p-1 inputBar" name="query"
                           alt="Input Search">
                </form>
            </div>

            <div id="results-container">
                {% for result in results %}
                    <div class="result-bar border-x border-b border-gray-700">
                        <a href="{{ path('order', {'id': result.id}) }}">
                            <p class="text-xl">{{ result.shortTitle }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>

        </div>
    </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            //Searchbar
            let words = ['Büchern', 'Autoren', 'Klassen'];
            let wordIndex = 0;

            function typeNextWord() {
                if (wordIndex < words.length) {
                    let word = words[wordIndex++];
                    let text = '';
                    let textIndex = 0;

                    function typeNextCharacter() {
                        if (textIndex < word.length) {
                            text += word.charAt(textIndex++);
                            document.getElementById('animated-text').textContent = text;
                            setTimeout(typeNextCharacter, 300);
                        } else {
                            setTimeout(typeNextWord, 3000);
                        }
                    }

                    typeNextCharacter();
                } else {
                    wordIndex = 0;
                    typeNextWord();
                }
            }

            typeNextWord();
        });

        (function() {
            if( window.localStorage ) {
                if(!localStorage.getItem('firstLoad')) {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                } else {
                    localStorage.removeItem('firstLoad');
                }
            }
        })()
    </script>
{% endblock %}
