{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Schulklasse{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/style/stylingSchoolClassAndDepartment.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h1 class="text-4xl">Schulklasse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ school_class.name }}</td>
            </tr>
            <tr>
                <th>Schulstufe</th>
                <td>{{ school_class.grade }}</td>
            </tr>
            <tr>
                <th>Schüleranzahl</th>
                <td>{{ school_class.studentsAmount }}</td>
            </tr>
            <tr>
                <th>Repetentenanzahl</th>
                <td>{{ school_class.repAmount }}</td>
            </tr>
            <tr>
                <th>Benutztes Budget</th>
                <td>{{ school_class.usedBudget }}</td>
            </tr>
            <tr>
                <th>Gesamtes Budget</th>
                <td>{{ school_class.budget }}</td>
            </tr>
            <tr>
                <th>Jahr</th>
                <td>{{ school_class.year }}</td>
            </tr>
        </tbody>
    </table>

    <div style="display: block; justify-content: center">
        <a class="create-new" href="{{ path('app_school_class_index') }}">Zurück zur Liste</a>
        <a class="create-new" href="{{ path('app_school_class_edit', {'id': school_class.id}) }}">Bearbeiten</a>
        {{ include('school_class/_delete_form.html.twig') }}
    </div>
{% endblock %}
