<nav class="nav-bar-outer">
    <div class="burger-menu" onclick="toggleMenu()">
            <img style="height: 3em" src="{{ asset('images/hamburger.png') }}" alt="iconMenu">
    </div>
    <div class="nav-bar-inside">
        <div class="nav-bar-company-name-and-icon">
            <div class="logo-nav-bar">
                <img class="logo" src="/images/library_logo.png" alt="logo">
            </div>
            <a href="{{ path('landing_page') }}">
                <div class="company-name">
                    Schulbuchaktion
                </div>
            </a>
        </div>
        <div class="nav-bar-elements">
            <div id="home" class="nav-bar-item">
                <a href="{{ path('landing_page') }}">
                    <button class="navbar-button">Home</button>
                </a>
            </div>
            {% if (app.user) %}
                <div class="nav-bar-item">
                    <a href="{{ path('app_book_index') }}">
                        <button class="navbar-button">Buch</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('home.') }}">
                        <button class="navbar-button">Bestellen</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('order.index') }}">
                        <button class="navbar-button">Bestellung</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('app_import') }}">
                        <button class="navbar-button">Import</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('app_school_class_index') }}">
                        <button class="navbar-button">Klasse</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('app_department_index') }}">
                        <button class="navbar-button">Abteilung</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('app_subject_index') }}">
                        <button class="navbar-button">Schulfach</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('app_budget.index') }}">
                        <button class="navbar-button">Budget</button>
                    </a>
                </div>
                <div class="nav-bar-item">
                    <a href="{{ path('user.index') }}">
                        <button class="navbar-button">Benutzer</button>
                    </a>
                </div>

            {% endif %}
            <div class="nav-bar-item">
                <a href="{{ path('app_team') }}">
                    <button class="navbar-button">Team</button>
                </a>
            </div>
            {% if app.user %}
                <div class="nav-bar-item" id="login-btn">
                    <a href="{{ path('app_logout') }}">
                        <button>Logout</button>
                    </a>
                </div>
            {% else %}
                <div class="nav-bar-item" id="login-btn">
                    <a href="{{ path('app_login') }}">
                        <button>Login</button>
                    </a>
                </div>
                <div class="nav-bar-item" id="register-btn">
                    <a href="{{ path('registration') }}">
                        <button>Registrieren</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

</nav>