{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Abteilung Übersicht{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/style/stylingSchoolClassAndDepartment.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <style>
        .progress-bar-container {
            width: 100%;
            background-color: #f3f3f3;
            border-radius: 5px;
        }

        .progress-bar {
            height: 20px;
            background-color: #378fbe;
            border-radius: 5px;
        }

        .img-size {
            margin: auto;
            height: 32px;
            width: 32px;
        }
    </style>

    <div class="text-4xl">
        <h1>Abteilungen</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Jahr</th>
                <th>Abteilungsleiter</th>
                <th>Budget</th>
                <th>Benutztes Budget</th>
                <th>Prozentuale Budget Nutzung</th>
                <th>U.M.E.W</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>{{ department.year }}</td>
                <td>{{ department.headOfDepartment }}</td>
                <td>{{ department.budget }}</td>
                <td>{{ department.usedBudget }}</td>
                <td>
                    {% set percentage = (department.usedBudget / department.budget * 100) %}
                    {% set percentageShown = (department.usedBudget / department.budget * 100) %}
                    {% if percentage > 100 %}
                        {% set percentage = 100 %}
                    {% endif %}

                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: {{ percentage }}%; {% if percentage == 100 %}background-color: red;{% endif %}"></div>
                    </div>
                    {{ percentageShown |number_format(2, '.', ',') }}%
                </td>
                <td>{{ department.umew }}</td>
                <td class="actionList">
                    <a href="{{ path('app_department_show', {'id': department.id}) }}"><img class="img-size" src="{{ asset('images/show.png') }}" alt="Anzeigen"></a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}"><img class="img-size" src="{{ asset('images/edit.png') }}" alt="Bearbeiten"></a>
                    <a href="{{ path('app_department_duplicate', {'id': department.id}) }}"><img class="img-size" src="{{ asset('images/duplicate.png') }}" alt="Duplizieren"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Keine Einträge gefunden!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="create-new" href="{{ path('app_department_new') }}">Neu Anlegen</a>
{% endblock %}
