{% extends 'base.html.twig' %}

{% block title %}Abteilung Übersicht{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/style/stylingSchoolClassAndDepartment.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <style>
        .progress-bar-container {
            width: 100%;
            background-color: #f3f3f3;
            border-radius: 5px;
        }

        .progress-bar {
            height: 20px;
            background-color: #378fbe;
            border-radius: 5px;
        }
    </style>

    <div class="text-4xl">
        <h1>Abteilungen</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Budget</th>
                <th>Benutztes Budget</th>
                <th>Prozentuale Budget Nutzung</th>
                <th>Umew</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.budget }}</td>
                <td>{{ department.usedBudget }}</td>
                <td>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: {{ department.usedBudget / department.budget * 100 }}%"></div>
                    </div>
                    {{ (department.usedBudget / department.budget * 100)|number_format(2, '.', ',') }}%                </td>
                <td>{{ department.umew }}</td>
                <td>
                    <a href="{{ path('app_department_show', {'id': department.id}) }}">Anzeigen</a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}">Bearbeiten</a>
{#                    <a href="{{ path('app_depar', {'id': school_class.id}) }}">Duplizieren</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Keine Einträge gefunden!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="create-new" href="{{ path('app_department_new') }}">Neu Anlegen</a>
{% endblock %}
