{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Abteilung{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/style/stylingSchoolClassAndDepartment.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h1 class="text-4xl">Abteilung</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ department.name }}</td>
            </tr>
            <tr>
                <th>Jahr</th>
                <td>{{ department.year }}</td>
            </tr>
            <tr>
                <th>Abteilungsleiter</th>
                <td>{{ department.headOfDepartment }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ department.budget }}</td>
            </tr>
            <tr>
                <th>Benutztes Budget</th>
                <td>{{ department.usedBudget }}</td>
            </tr>
            <tr>
                <th>U.M.E.W</th>
                <td>{{ department.umew }}</td>
            </tr>
        </tbody>
    </table>
    <div style="display: block; justify-content: center">
        <a class="create-new" href="{{ path('app_department_index') }}">Zurück zur Liste</a>
        <a class="create-new" href="{{ path('app_department_edit', {'id': department.id}) }}">Bearbeiten</a>
        {{ include('department/_delete_form.html.twig') }}
    </div>
{% endblock %}
