{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Bestellen{% endblock %}

{% block body %}
<style>
    .customColorBG {
        background-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBG:hover {
        background-color: #118c9f;
    }

    .customColorText {
        color: #17A2B8;
    }

    .customColorNumber {
        color: #17A2B8;
        transition: 0.3s;
    }

    .customColorNumber:hover {
        color: #118c9f;
    }

    .customColorBorder {
        border-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBorder:hover {
        border-color: #118c9f;
    }
</style>

    <div class="flex items-center justify-center mt-8 text-xl">
        <div class="w-1/2 text-center space-y-4 text-xl mb-24">
            <p class="font-semibold">Titel: {{ book.shortTitle }}</p>
            <p class="w-1/2 mx-auto">Info: {{ book.info }}</p>
            <p>Buchnummer: {{ book.bnr }}</p>
            <p>Preis: {{ book.price }}€</p>
        </div>
        <div class="w-1/2">
            <div>
                <div>
                    <h3 class="font-semibold text-3xl">Klasse wählen:</h3>
                </div>
                <div class="flex mt-4">
                    <div class="w-1/2 space-y-4">
                        <p>Schulklasse</p>
                        <p>Anzahl der Schüler</p>
                        <p>Davon Repetenten</p>
                        <p>Aktuelles Budget</p>
                    </div>
                    <div class="w-1/2 space-y-4 text-center mr-8">
                        <select id="classSelect" class="mx-auto rounded-sm p-0.5">
                            {% for class in classes %}
                                <option value="{{ class.id }}">{{ class.name }}</option>
                            {% endfor %}
                        </select>
                        <p id="studentAmount"></p>
                        <p id="repeaterAmount"></p>
                        <p id="budgetAmount"></p>
                    </div>
                </div>
            </div>

            <div class="mt-12">
                <div>
                    <h3 class="font-semibold text-3xl">Bestelldetails wählen:</h3>
                </div>
                <div class="flex mt-4">
                    <div class="w-1/2 space-y-4">
                        <p>Repetenten</p>
                        <p>Anzahl der Buchmenge</p>
                        <p>Kopie für Lehrer</p>
                        <p>E-Book</p>
                        <p>E-Book+</p>
                    </div>
                    <div class="w-1/2 space-y-4 text-center mr-8">
                        <div>
                            <select id="repetentenSelect" class="mx-auto rounded-sm p-0.5">
                                <option>Mit Repetenten</option>
                                <option>Ohne Repetenten</option>
                                <option>Nur Repetenten</option>
                            </select>
                        </div>
                        <div class="inline-block">
                            <button
                                    class="border customColorBorder customColorNumber rounded-md ml-1 px-2"
                                    onclick="updateBookAmount(-1)"
                            >-</button>
                            <input class="inline-block w-8 text-center border rounded-md customColorBorder" style="background-color: #ECECEC;" id="bookAmount" value="3">
                            <button
                                    class="border customColorBorder customColorNumber rounded-md mr-1 px-1.5"
                                    onclick="updateBookAmount(1)"
                            >+</button>
                        </div>
                        <div>
                            <input type="checkbox" class="h-4 w-4">
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                        <div>

                            <input type="checkbox" disabled class="h-4 w-4"
                                {% if book.ebookplus %}
                                    checked
                                {% endif %}
                            >
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                        <div>
                            <input type="checkbox" disabled class="h-4 w-4"
                                {% if book.ebook %}
                                    checked
                                {% endif %}
                            >
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-12 flex justify-center mr-32 mb-8">
                <button
                    class="customColorBG p-4 rounded-md text-white font-semibold tracking-wider"
                    id="orderButton"
                >
                    Zur Bestellliste hinzufügen
                </button>
            </div>
        </div>
    </div>


<script>
    function updateBookAmount(amount) {
        let bookAmount = document.getElementById('bookAmount')
        let currentAmount = parseInt(bookAmount.value) + amount
        if(currentAmount < 1) {
            currentAmount = 1
        }

        bookAmount.value = currentAmount.toString()
    }

    function updateClassData(classId) {
        fetch('/get-class-data/' + classId)
            .then(response => response.json())
            .then(data => {
                document.getElementById('studentAmount').textContent = data.studentAmount;
                document.getElementById('repeaterAmount').textContent = data.repeaterAmount;
                document.getElementById('bookAmount').value = data.studentAmount;
                document.getElementById('budgetAmount').textContent =
                    data.usedBudgetAmount + '€ / ' + data.budgetAmount + '€';
            });
    }

    document.getElementById('classSelect').addEventListener('change', function() {
        updateClassData(document.getElementById('classSelect').value);
    });


    document.getElementById('repetentenSelect').addEventListener('change', updateAnzahl);

    function updateAnzahl() {
        let repetentenSetting = document.getElementById('repetentenSelect').value;
        let studentAmount = document.getElementById('studentAmount').textContent;
        let repetentenAmount = document.getElementById('repeaterAmount').textContent;

        switch (repetentenSetting) {
            case 'Mit Repetenten':
                document.getElementById('bookAmount').value = studentAmount;
                break;
            case 'Ohne Repetenten':
                document.getElementById('bookAmount').value = studentAmount - repetentenAmount;
                break;
            case 'Nur Repetenten':
                document.getElementById('bookAmount').value = repetentenAmount;
                break;
        }
    }

    document.getElementById('orderButton').addEventListener('click', function () {
        let classId = document.getElementById('classSelect').value;
        let bookAmount = document.getElementById('bookAmount').value;
        let teacherCopy = document.querySelector('input[type="checkbox"]').checked;
        let ebookPlus = {{ book.ebookplus ? 'true' : 'false' }};
        let ebook = {{ book.ebook ? 'true' : 'false' }};
        let bookId = {{ book.id }}; // Include book ID

        let orderData = {
            classId: classId,
            bookId: bookId,
            bookAmount: bookAmount,
            teacherCopy: teacherCopy,
            ebookPlus: ebookPlus,
            ebook: ebook
        };

        console.log(orderData);

        fetch('/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(orderData)
        })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/orderbooks/index';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Bücher konnten nicht bestellt werden!');
            });
    });

    updateClassData(document.getElementById('classSelect').value);
</script>

{% endblock %}
