{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Bestellen{% endblock %}

{% block body %}
<style>
    .customColorBG {
        background-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBG:hover {
        background-color: #118c9f;
    }

    .customColorText {
        color: #17A2B8;
    }

    .customColorNumber {
        color: #17A2B8;
        transition: 0.3s;
    }

    .customColorNumber:hover {
        color: #118c9f;
    }

    .customColorBorder {
        border-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBorder:hover {
        border-color: #118c9f;
    }
</style>

    <div class="flex items-center justify-center mt-16 text-xl">
        <div class="w-1/2 text-center space-y-4 text-xl mb-24">
            <p class="font-semibold">Titel: {{ book.shortTitle }}</p>
            <p>Info: {{ book.info }}</p>
            <p>Buchnummer: {{ book.bnr }}</p>
            <p>Preis: {{ book.price }}€</p>
        </div>
        <div class="w-1/2">
            <div>
                <div>
                    <h3 class="font-semibold text-3xl">Klasse wählen:</h3>
                </div>
                <div class="flex mt-4">
                    <div class="w-1/2 space-y-4">
                        <p>Schulklasse</p>
                        <p>Anzahl der Schüler</p>
                        <p>Davon Repetenten</p>
                        <p>Aktuelles Budget (€)</p>
                    </div>
                    <div class="w-1/2 space-y-4 text-center mr-8">
                        <select class="mx-auto rounded-sm p-0.5">
                            {% for class in classes %}
                                <option>{{ class.name }}</option>
                            {% endfor %}
                            <option>1AHITN</option>
                            <option>2AHITN</option>
                            <option>3AHITN</option>
                            <option>4AHITN</option>
                            <option>5AHITN</option>
                            <option>1AHEL</option>
                            <option>2AHEL</option>
                            <option>3AHEL</option>
                            <option>4AHEL</option>
                            <option>5AHEL</option>
                            <option>1AHEL</option>
                            <option>2AHEL</option>
                            <option>3AHEL</option>
                            <option>4AHEL</option>
                            <option>5AHEL</option>
                            <option>1AHMBZ</option>
                            <option>2AHMBZ</option>
                            <option>3AHMBZ</option>
                            <option>4AHMBZ</option>
                            <option>5AHMBZ</option>
                            <option>1BHMBZ</option>
                            <option>2BHMBZ</option>
                            <option>3BHMBZ</option>
                            <option>4BHMBZ</option>
                            <option>5BHMBZ</option>

                        </select>
                        <p>19</p>
                        <p>2</p>
                        <p>10.042,30 / 30.000,00</p>
                    </div>
                </div>
            </div>

            <div class="mt-20">
                <div>
                    <h3 class="font-semibold text-3xl">Bestelldetails wählen:</h3>
                </div>
                <div class="flex mt-4">
                    <div class="w-1/2 space-y-4">
                        <p>Anzahl der Buchmenge:</p>
                        <p>Kopie für Lehrer:</p>
                        <p>E-Book:</p>
                        <p>E-Book+:</p>
                    </div>
                    <div class="w-1/2 space-y-4 text-center mr-8">
                        <div class="inline-block">
                            <button
                                class="border customColorBorder customColorNumber rounded-md mr-1 px-1.5"
                                onclick="updateBookAmount(1)"
                            >+</button>
                            <p class="inline-block w-8" id="bookAmount">3</p>
                            <button
                                class="border customColorBorder customColorNumber rounded-md ml-1 px-2"
                                onclick="updateBookAmount(-1)"
                            >-</button>
                        </div>
                        <div>
                            <input type="checkbox" class="h-4 w-4">
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                        <div>

                            <input type="checkbox" disabled class="h-4 w-4"
                                {% if book.ebookplus %}
                                    checked
                                {% endif %}
                            >
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                        <div>
                            <input type="checkbox" disabled class="h-4 w-4"
                                {% if book.ebook %}
                                    checked
                                {% endif %}
                            >
                            <label class="text-xs customColorText">J/N</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-12 flex justify-center mr-32 mb-8">
                <button
                    class="customColorBG p-4 rounded-md text-white font-semibold tracking-wider"
                >
                    Zur Bestellliste hinzufügen
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function updateBookAmount(amount) {
        let bookAmount = document.getElementById('bookAmount')
        let currentAmount = parseInt(bookAmount.innerText) + amount
        if(currentAmount < 1) {
            currentAmount = 1
        }

        bookAmount.innerText = currentAmount.toString()
    }
</script>

{% endblock %}
