{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Bestellen{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/stylingBestellungen.css') }}" type="text/css"/>
    {% endblock %}

{% block body %}

    <div>
        <div class="department-filter">
            <label id="label-department-filter" for="departmentFilter">Abteilung filtern:</label>
            <select id="departmentFilter" name="departmentId">
                <option value="">Alle Abteilungen</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>

        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Bestellnummer</th>
                <th>Anzahl</th>
                <th>Lehrerexemplar</th>
                <th>eBook</th>
                <th>eBook Plus</th>
                <th>Schulklasse</th>
                <th>Buch</th>
            </tr>
            </thead>
            <tbody id="orderTable">
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.count }}</td>
                    <td>{{ order.teacherCopy ? 'Ja' : 'Nein' }}</td>
                    <td>{{ order.eBook ? 'Ja' : 'Nein' }}</td>
                    <td>{{ order.eBookPlus ? 'Ja' : 'Nein' }}</td>
                    <td>{{ order.schoolclass ? order.schoolclass.name : 'Nicht zugewiesen' }}</td>
                    <td>{{ order.book ? order.book.title : 'Nicht zugewiesen' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#departmentFilter').change(function () {
                var departmentId = $(this).val();
                $.ajax({
                    url: '/orderbooks/getDepartment/' + departmentId,
                    type: 'GET',
                    success: function (response) {
                        var orders = response.orders;
                        var orderTable = $('#orderTable');

                        orderTable.html('');

                        for (var i = 0; i < orders.length; i++) {
                            var row = $('<tr></tr>');
                            row.append('<td>' + orders[i].id + '</td>');
                            row.append('<td>' + orders[i].count + '</td>');
                            row.append('<td>' + (orders[i].teacherCopy ? 'Ja' : 'Nein') + '</td>');
                            row.append('<td>' + (orders[i].eBook ? 'Ja' : 'Nein') + '</td>');
                            row.append('<td>' + (orders[i].eBookPlus ? 'Ja' : 'Nein') + '</td>');
                            row.append('<td>' + (orders[i].schoolclass ? orders[i].schoolclass : 'Nicht zugewiesen') + '</td>');
                            row.append('<td>' + (orders[i].book ? orders[i].book : 'Nicht zugewiesen') + '</td>');
                            orderTable.append(row);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}